* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;

}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #06070c;
    padding: 20px 10% 0px 10%;

}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    font-size: 17px;
    font-weight: 560;
}

header nav a:first-child {
    color: #3FA2F6;
}

header nav a:hover {

    color: #3FA2F6;
    font-weight: 960;
}

main {

    width: 100%;
    height: 90%;
}

section {
    display: flex;
    width: 100%;
    height: 100%;

}


section>div {
    width: 50%;
    height: 100%;

}

#left-div {
    z-index: 2;
}


#right-div {
    z-index: 1;
    background-image: url(photo.png);
    background-size: cover;
    background-position: 100%;
    transition: filter 0.5s ease-in-out 0.3s;
    /* transition: opacity 0.5s ease-in-out 0.3s; */

}

#right-div:hover {
    z-index: 1;
    filter: grayscale(80%);
    /* opacity: .6; */

}

#main-content {
    z-index: 2;
    position: relative;
    padding-top: 50px;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

#main-content h1 {

    font-size: 3.4rem;
    white-space: nowrap;
    position: relative;
}

h1:hover {
    color: red;
}


#main-content h3 {
    font-size: 2.3rem;
    color: #3FA2F6;
}

#main-content p {
    font-size: 1.2rem;
    color: lightgray;
    line-height: 1.5;
}


.div-button button {
    padding: 13px 50px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    letter-spacing: 1px;
}

.div-button #hire-me {
    background-color: #3FA2F6;
    color: black;
    font-weight: 600;
}

.div-button #contact-me {
    background-color: transparent;
    color: #3FA2F6;
    border: 1px solid #3FA2F6;
    font-weight: 500;
}



.div-button #hire-me:hover,
#contact-me:hover {
    color: #ffffff;
    font-weight: 600;
    background-color: #4a7aa4;

}

#div-icon {
    height: 10%;
    display: flex;
    gap: 20px;
}

#div-icon i {
    color: #3FA2F6;
    border: 1px solid #3FA2F6;
    border-radius: 50%;
    padding: 10px;
}
